stage.py
sql
select.sql
questions.csv
Chat With Db Demo compressed.mp4
Examination system.sqlproj
lab.code-workspace
tst.ipynb
python/data generation
python/app/cli app
python/app/staging
python/app/streamlit app/connect.ipynb
python/app/tst.py
utils

